* text=auto eol=lf

# Include Markdown in language statistics
*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true
*.md linguist-language=Markdown

# Include otter help texts in language statistics
*.help linguist-vendored=false
*.help linguist-generated=false
*.help linguist-documentation=false
*.help linguist-detectable=true
*.help linguist-language=Text

# Include SVG assets in language statistics
*.svg linguist-vendored=false
*.svg linguist-generated=false
*.svg linguist-documentation=false
*.svg linguist-detectable=true
*.svg linguist-language=SVG
