* text=auto eol=lf

# Include Markdown in language statistics
*.md -linguist-documentation
*.md linguist-detectable

# Explicitly classify .txt files as Text and include them
*.txt linguist-language=Text
*.txt linguist-detectable

# Include SVG in language statistics
*.svg linguist-detectable