[Desktop Entry]
Name={{.entry_name}}
GenericName=Terminal entering {{.entry_name}}
Comment=Terminal entering {{.entry_name}}
Categories=Otter;System;Utility
Exec={{.otter_path}} enter{{if .extra_flags}} {{.extra_flags}}{{end}} {{.container_name}}
Icon={{.icon}}
Keywords=otter;
NoDisplay=false
Terminal=true
TryExec={{.otter_path}}
Type=Application
Actions=Remove;

[Desktop Action Remove]
Name=Remove {{.entry_name}} from system
Exec={{.otter_path}} rm{{if .extra_flags}} {{.extra_flags}}{{end}} {{.container_name}}
