{{define "content"}}
<div class="toolbar">
  <a class="btn btn-primary" href="/containers/new">+ New container</a>
</div>
{{if not .}}
  <p class="empty">No containers found. Use <code>otter create</code> to make one.</p>
{{else}}
  <table class="containers">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="container-rows">
      {{range .}}{{template "row" .}}{{end}}
    </tbody>
  </table>
{{end}}
{{end}}